<%- include("partials/header.ejs") %>
<main>

        <div class="box" id="heading">
            <h1>Week task
            </h1>
        </div>
        <div class="box">
            <div class="item">
                <input type="checkbox"> 
                <P>WEB</P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>Front end </P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>back end</P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>node</P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>express</P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>EJS</P>
            </div>
            <div class="item">
                <input type="checkbox"> 
                <P>AI/ML</P>
            </div>
            
<%- include("partials/footer.ejs") %>